*{
    margin: 0%;
    padding: 0%;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(https://img6.thuthuatphanmem.vn/uploads/2022/03/16/background-ai_094202459.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}