body {
    margin: 0;
    padding: 0;

}

.intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: 20px;
    color: whitesmoke;
}

.intro1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-left: 20px;
    color: whitesmoke;
}

.para {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: whitesmoke;
}

.clr-btn {
    border: 2px solid #ff00ff;
    background-color:blanchedalmond;
    color: #cc92cc;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clr-btn:hover {
    border: 2px solid #ff00ff;
    background-color: #cc92cc;
    color: #1e4620;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

